<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.dummyapp">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".broadcast.BroadcastReceiverActivity"
            android:theme="@style/AppTheme.TransparentTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--<activity android:name=".MainActivity"/>-->

        <activity
            android:name=".launchmode.AActivity"
            android:taskAffinity="com.dummyapp1"/>

        <activity android:name=".launchmode.BActivity"/>
        <activity
            android:name=".launchmode.CActivity"
            android:launchMode="singleInstance"/>

        <provider
            android:name=".contentprovider.StudentsProvider"
            android:authorities="com.dummyapp.contentprovider.StudentsProvider"/>

        <service
            android:name=".background.service.MyService"
            android:enabled="true"
            android:exported="true">
        </service>
        <service
            android:name=".background.service.MyIntentService"
            android:exported="false">
        </service>

        <receiver android:name=".background.service.BroadcastReceiver">
            <intent-filter>
                <action android:name="casd"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".background.alaram.MyBroadcastManager">
        </receiver>


        <!--<receiver android:name=".contacts.ContactActivity$MyBroadCastReceiver">-->
        <!--<intent-filter>-->
        <!--<action android:name="pass"/>-->
        <!--</intent-filter>-->
        <!--</receiver>-->

        <service android:name=".contacts.ReadContactService"/>
        <service android:name=".background.boundservice.BoundService"/>

        <!--<activity android:name=".TurnOnGpsWithoutRedirection"/>-->
        <activity android:name=".kotlin.SubKotlinActivity">
        </activity>
        <!--<activity android:name=".eventbus.EventOneActivity"/>-->
        <activity android:name=".eventbus.EventTwoActivity"/>


        <!--<activity android:name=".customview.compoundview.CompoundViewActivity"/>-->

        <service android:name=".background.download.DownloadService"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1399687486755645"
            android:exported="true"/>

        <activity
            android:name=".oreo.pip.PictureInPictureActivity"
            android:launchMode="singleTask"
            android:supportsPictureInPicture="true"/>

        <service
            android:name=".jobScheduler.TestJobService"
            android:label="Word service"
            android:permission="android.permission.BIND_JOB_SERVICE">

        </service>

        <receiver android:name=".jobScheduler.MyStartServiceReceiver">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.BOOT_COMPLETED" />-->
            <!--</intent-filter>-->

            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>


        <receiver android:enabled="true" android:name=".broadcast.YourBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.AIRPLANE_MODE"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>